 
.messaging-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  color: black;
  
}

.header {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

.search-input, .phone-input, .message-textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 1.125rem;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  outline: none;
}

.message-textarea {
  min-height: 96px;
  resize: vertical;
}

.send-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  background-color: #1D4ED8;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.send-button:hover {
  background-color: #3498db;
}

.patient-info {
  width: 100%;
  max-width: 400px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}